In [1]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt 
import seaborn as sns

In [24]:
avg_daily_income_full = pd.read_csv('./data/avg_daily_income_full.csv')
avg_daily_income_full

,continent,country,country_code,1800,1801,1802,1803,1804,1805,1806,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Asia,Afghanistan,AFG,919.00,919.00,919.00,919.00,919.00,919.00,919.00,...,2.83,2.89,2.87,2.82,2.81,2.81,2.77,2.82,2.62,2.66
1,Africa,Angola,AGO,2.27,2.27,2.28,2.29,2.30,2.31,2.32,...,3.73,3.76,3.78,3.67,3.55,3.37,3.12,2.99,2.79,2.72
2,Europe,Albania,ALB,1.22,1.22,1.22,1.22,1.22,1.22,1.22,...,7.99,8.20,8.52,8.62,8.79,8.73,9.04,9.35,9.04,9.50
3,Europe,Andorra,AND,1.48,1.49,1.49,1.49,1.49,1.50,1.50,...,52.00,54.20,55.70,57.70,59.70,61.70,63.80,66.00,68.30,70.60
4,Asia,United Arab Emirates,ARE,2.90,2.91,2.92,2.93,2.94,2.95,2.96,...,70.40,73.60,83.70,69.10,71.20,78.70,84.10,94.00,85.80,85.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Australia and Oceania,Samoa,WSM,2.76,2.76,2.76,2.76,2.76,2.76,2.76,...,9.58,9.50,9.44,9.78,10.50,10.60,10.30,10.60,10.20,9.33
193,Asia,Yemen,YEM,1.22,1.23,1.23,1.23,1.24,1.24,1.24,...,4.23,4.35,4.18,2.93,2.59,2.40,2.36,2.36,2.18,2.14
194,Africa,South Africa,ZAF,1.34,1.32,1.31,1.29,1.28,1.21,1.21,...,11.90,11.80,11.60,11.30,11.20,11.20,11.10,11.00,10.10,10.30
195,Africa,Zambia,ZMB,1.26,1.26,1.27,1.27,1.27,1.27,1.28,...,2.78,2.85,2.88,2.91,2.93,2.94,2.97,2.93,2.74,2.68
196,Africa,Zimbabwe,ZWE,1.94,1.94,1.94,1.94,1.95,1.95,1.95,...,5.34,5.05,4.78,4.48,4.15,3.97,4.29,4.05,3.66,3.70

In [25]:
avg_daily_income_country = avg_daily_income_full[['continent','country','country_code']]
avg_daily_income_country

                 continent               country country_code
0                     Asia           Afghanistan          AFG
1                   Africa                Angola          AGO
2                   Europe               Albania          ALB
3                   Europe               Andorra          AND
4                     Asia  United Arab Emirates          ARE
..                     ...                   ...          ...
192  Australia and Oceania                 Samoa          WSM
193                   Asia                 Yemen          YEM
194                 Africa          South Africa          ZAF
195                 Africa                Zambia          ZMB
196                 Africa              Zimbabwe          ZWE

[197 rows x 3 columns]

In [26]:
avg_daily_income_num = avg_daily_income_full.drop(['continent','country','country_code'], axis=1)
avg_daily_income_num

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,919.00,919.00,919.00,919.00,919.00,919.00,919.00,919.00,919.00,919.00,...,2.83,2.89,2.87,2.82,2.81,2.81,2.77,2.82,2.62,2.66
1,2.27,2.27,2.28,2.29,2.30,2.31,2.32,2.33,2.35,2.35,...,3.73,3.76,3.78,3.67,3.55,3.37,3.12,2.99,2.79,2.72
2,1.22,1.22,1.22,1.22,1.22,1.22,1.22,1.22,1.22,1.22,...,7.99,8.20,8.52,8.62,8.79,8.73,9.04,9.35,9.04,9.50
3,1.48,1.49,1.49,1.49,1.49,1.50,1.50,1.50,1.51,1.51,...,52.00,54.20,55.70,57.70,59.70,61.70,63.80,66.00,68.30,70.60
4,2.90,2.91,2.92,2.93,2.94,2.95,2.96,2.97,2.98,3.00,...,70.40,73.60,83.70,69.10,71.20,78.70,84.10,94.00,85.80,85.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,2.76,2.76,2.76,2.76,2.76,2.76,2.76,2.77,2.77,2.77,...,9.58,9.50,9.44,9.78,10.50,10.60,10.30,10.60,10.20,9.33
193,1.22,1.23,1.23,1.23,1.24,1.24,1.24,1.25,1.25,1.25,...,4.23,4.35,4.18,2.93,2.59,2.40,2.36,2.36,2.18,2.14
194,1.34,1.32,1.31,1.29,1.28,1.21,1.21,1.31,1.15,1.12,...,11.90,11.80,11.60,11.30,11.20,11.20,11.10,11.00,10.10,10.30
195,1.26,1.26,1.27,1.27,1.27,1.27,1.28,1.28,1.28,1.29,...,2.78,2.85,2.88,2.91,2.93,2.94,2.97,2.93,2.74,2.68
196,1.94,1.94,1.94,1.94,1.95,1.95,1.95,1.95,1.95,1.96,...,5.34,5.05,4.78,4.48,4.15,3.97,4.29,4.05,3.66,3.70

In [27]:
avg_daily_income = avg_daily_income_num.applymap(lambda x: x / 1000 if x > 100 else x)
avg_daily_income

/var/folders/m1/dk0h8kz11p9g8_szsqwqhdnc0000gn/T/ipykernel_77023/2250755075.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  avg_daily_income = avg_daily_income_num.applymap(lambda x: x / 1000 if x > 100 else x)

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,0.919,0.919,0.919,0.919,0.919,0.919,0.919,0.919,0.919,0.919,...,2.83,2.89,2.87,2.82,2.81,2.81,2.77,2.82,2.62,2.66
1,2.270,2.270,2.280,2.290,2.300,2.310,2.320,2.330,2.350,2.350,...,3.73,3.76,3.78,3.67,3.55,3.37,3.12,2.99,2.79,2.72
2,1.220,1.220,1.220,1.220,1.220,1.220,1.220,1.220,1.220,1.220,...,7.99,8.20,8.52,8.62,8.79,8.73,9.04,9.35,9.04,9.50
3,1.480,1.490,1.490,1.490,1.490,1.500,1.500,1.500,1.510,1.510,...,52.00,54.20,55.70,57.70,59.70,61.70,63.80,66.00,68.30,70.60
4,2.900,2.910,2.920,2.930,2.940,2.950,2.960,2.970,2.980,3.000,...,70.40,73.60,83.70,69.10,71.20,78.70,84.10,94.00,85.80,85.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,2.760,2.760,2.760,2.760,2.760,2.760,2.760,2.770,2.770,2.770,...,9.58,9.50,9.44,9.78,10.50,10.60,10.30,10.60,10.20,9.33
193,1.220,1.230,1.230,1.230,1.240,1.240,1.240,1.250,1.250,1.250,...,4.23,4.35,4.18,2.93,2.59,2.40,2.36,2.36,2.18,2.14
194,1.340,1.320,1.310,1.290,1.280,1.210,1.210,1.310,1.150,1.120,...,11.90,11.80,11.60,11.30,11.20,11.20,11.10,11.00,10.10,10.30
195,1.260,1.260,1.270,1.270,1.270,1.270,1.280,1.280,1.280,1.290,...,2.78,2.85,2.88,2.91,2.93,2.94,2.97,2.93,2.74,2.68
196,1.940,1.940,1.940,1.940,1.950,1.950,1.950,1.950,1.950,1.960,...,5.34,5.05,4.78,4.48,4.15,3.97,4.29,4.05,3.66,3.70

In [28]:
avg_daily_income = pd.concat([avg_daily_income_country,avg_daily_income], axis=1)
avg_daily_income

,continent,country,country_code,1800,1801,1802,1803,1804,1805,1806,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Asia,Afghanistan,AFG,0.919,0.919,0.919,0.919,0.919,0.919,0.919,...,2.83,2.89,2.87,2.82,2.81,2.81,2.77,2.82,2.62,2.66
1,Africa,Angola,AGO,2.270,2.270,2.280,2.290,2.300,2.310,2.320,...,3.73,3.76,3.78,3.67,3.55,3.37,3.12,2.99,2.79,2.72
2,Europe,Albania,ALB,1.220,1.220,1.220,1.220,1.220,1.220,1.220,...,7.99,8.20,8.52,8.62,8.79,8.73,9.04,9.35,9.04,9.50
3,Europe,Andorra,AND,1.480,1.490,1.490,1.490,1.490,1.500,1.500,...,52.00,54.20,55.70,57.70,59.70,61.70,63.80,66.00,68.30,70.60
4,Asia,United Arab Emirates,ARE,2.900,2.910,2.920,2.930,2.940,2.950,2.960,...,70.40,73.60,83.70,69.10,71.20,78.70,84.10,94.00,85.80,85.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Australia and Oceania,Samoa,WSM,2.760,2.760,2.760,2.760,2.760,2.760,2.760,...,9.58,9.50,9.44,9.78,10.50,10.60,10.30,10.60,10.20,9.33
193,Asia,Yemen,YEM,1.220,1.230,1.230,1.230,1.240,1.240,1.240,...,4.23,4.35,4.18,2.93,2.59,2.40,2.36,2.36,2.18,2.14
194,Africa,South Africa,ZAF,1.340,1.320,1.310,1.290,1.280,1.210,1.210,...,11.90,11.80,11.60,11.30,11.20,11.20,11.10,11.00,10.10,10.30
195,Africa,Zambia,ZMB,1.260,1.260,1.270,1.270,1.270,1.270,1.280,...,2.78,2.85,2.88,2.91,2.93,2.94,2.97,2.93,2.74,2.68
196,Africa,Zimbabwe,ZWE,1.940,1.940,1.940,1.940,1.950,1.950,1.950,...,5.34,5.05,4.78,4.48,4.15,3.97,4.29,4.05,3.66,3.70

In [29]:
avg_daily_income.to_csv('./data/avg_daily_income_corrected.csv', index=False)